<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amadorprog.autoclicker_messengerclicker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_my_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoClickerMessengerClicker">
        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8798131674672035~3558088240"/>
        <service
            android:name="com.amadorprog.autoclicker_messengerclicker.AutoClickService"
            android:enabled="true"
            android:label="@string/accessibility_service_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/config_accessibility_service"/>
        </service>

        <activity
            android:name="com.amadorprog.autoclicker_messengerclicker.ListMessagesGroupActivity"
            android:exported="true" />
        <activity
            android:name="com.amadorprog.autoclicker_messengerclicker.ConfigCoordinates"
            android:exported="true" />
        <activity
            android:name="com.amadorprog.autoclicker_messengerclicker.MessagesEditorActivity"
            android:exported="true" />
        <activity
            android:name="com.amadorprog.autoclicker_messengerclicker.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>